name: Build ARM Executable

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install pkg package
        run: npm install -g pkg
      - name: Install all packages
        run: npm install
      - name: Compile index.js to ARM executable
        run: pkg test.js --target node18-linux-armv7

      - name: Upload executable
        uses: actions/upload-artifact@v2
        with:
          name: arm-executable
          path: ./test-linux-armv7
